<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= movie.published_date %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= movie.publisher_id %>
  </p>

</div>
